@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: arial;
	/*background-image: url(images/background.jpg);*/
	font-size: 15px;
}
header{
	background-color: #ffffff;
	overflow: hidden;
	box-shadow: 0px 3px 7px black;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}
header img{
	margin: 0.5rem 1%;
}
header nav{
  margin-right: 1%;
	text-align: center;
  float: right;
}
header label{
	display: none;
}
header label:hover{
	background-color: #3a65ad;
	color: white;
}
header input[type="checkbox"]{
	display: none;
}
header nav ul{
	list-style-type: none;
}
header nav li{
	float: left;
  line-height: 5.33rem;
}
header nav a{
	display: block;
	font-weight: bold;
	padding: 0px 0.9rem;
	text-decoration: none;
	color: black;
	transition: all 500ms ease;
}
header nav a:hover{
	background-color: #3a65ad;
	color: white;
}
main{
	margin: 5.33rem auto 0px auto;
  /*background-color: rgba(255, 255, 255, 0.7);*/
}
.cabecera{
	width: 100%;
	border-bottom: solid 5px #3a65ad;
	margin-bottom: 2rem;
}
#first{
	width: 100%;
}
section{
	overflow: hidden;
	width: 85%;
	margin: 0px auto 3rem auto;
	clear: left;
}
h1{
	text-align: center;
	font-family: Permanent Marker;
	font-size: 2rem;
	margin-bottom: 1rem;
}
h2{
	font-family: Permanent Marker;
	font-size: 1.5rem;
	margin-bottom: 0.1rem;
}
p{
	text-align: justify;
	margin-bottom: 1rem;
}
.justiciaSocial{
	width: 29%;
	height: 7rem;
	float: left;
}
.justiciaSocial:nth-child(1){
	padding: 1rem 3% 3rem 0px;
}
.justiciaSocial:nth-child(2){
	padding: 1rem 3% 3rem 3%;
}
.justiciaSocial:nth-child(3){
	padding: 1rem 0px 3rem 3%;
}
.parallax1{
	margin-bottom: 2rem;
	height: 15rem;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/parallax1.jpg);
}
.parallax2{
	margin-bottom: 2rem;
	height: 15rem;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/parallax2.jpg);
}
/*.parallax:nth-child(1){
	background-image: url(img/parallax1.jpg);
}
.parallax:nth-child(2){
	background-image: url(img/parallax2.jpg);
}*/
#listaDeseos{
	width: 97%;
	min-height: 40rem;
	padding: 1%;
	margin-bottom: 1rem;
	border: 2px solid #3a65ad;
}
input{
	display: block;
	padding: 1%;
	margin-bottom: 1rem;
	border: 2px solid #3a65ad;
}
input:nth-child(1){
	width: 97%;
}
input:nth-child(2){
	width: 30%;
}
input[type="submit"]{
	font-weight: bold;
	color: white;
	background-color: #3a65ad;
	transition: all 500ms ease;
	width: 20%;
}
input[type="submit"]:hover{
	background-color: gray;
	border-color: gray;
}
iframe{
	float: left;
	width: 48%;
	height: 20rem;
	margin-right: 3%;
}
#about{
	margin-left: 3%;
}
footer{
	clear: left;
	background-color: #3a65ad;
	color: white;
	box-shadow: 0px -3px 7px black;
}
.footerWrapper{
	overflow: hidden;
}
.footerMenu{
	float: left;
	padding: 1%;
}
footer ul{
	list-style-type: none;
}
footer li{
	margin-bottom: 0.3rem;
}
footer a{
	text-decoration: none;
	color: white;
}
.social{
	float: right;
	margin: 1%;
}
.footerdown{
	background-color: #232323;
	line-height: 2rem;
}
.privacidad{
	display: inline;
	margin-left: 1%;
}
.privacidad a{
	text-decoration: underline;
}
.licencia{
	float: right;
	display: inline;
	margin-right: 1%;
}
.alex{
	font-weight: bold;
	text-decoration: none;
}

@media (max-width: 1024px){
	body{
		font-size: 12px;
	}
	.justiciaSocial:nth-child(-n+3){
		min-height: 7rem;
		width: 44%;
		padding: 1rem 3%;
	}
}
@media (max-width: 720px){
	header label{
		line-height: 5.33rem;
		transition: all 500ms ease;
		padding: 0px 5%;
		display: inline-block;
		float: right;
	}
	header nav{
		margin-right: 0px;
		width: 100%;
	}
	header nav ul li{
		float: none;
		width: 100%;
		display: none;
		/*position: absolute;
		top:-100;*/
	}
	header input[type="checkbox"]:checked ~ nav ul li{
		display: block;
	}
	header input[type="checkbox"]:checked ~ nav ul{
		border-top: 2px solid black;
	}
	.justiciaSocial:nth-child(-n+3){
		width: 100%;
		padding: 1rem 0px;
	}
	input[type="submit"]{
		width: auto;
	}
	iframe{
		width: 100%;
		margin: 1rem 0px;
	}
	#about{
		margin-left: 0px;
	}
	.footerdown{
		overflow: hidden;
	}
	.privacidad, .licencia{
		float: none;
		display: block;
		text-align: center;
	}
}
@media (max-width: 480px){

}
